In [3]:
# Q. 김철수씨의 주민번호는 881230-1078523
# 주민번호를 연월일 부분과 그 뒤의 숫자 부분으로 나누어 출력
a1 = [881230, 1078523]
pin = "881230-1078523"
print(a1[0])
print(a1[1])
print(pin[:6])
print(pin[7:])

881230
1078523
881230
1078523

In [2]:
# Q. a = [1,3,5,4,2] 리스트를 [5,4,3,2,1] 로 변경해서 출력
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [5]:
# Q. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 출력
s1 = ['Life', 'is', 'too', 'short']
print(" ".join(s1))

Life is too short

In [4]:
# Q. 문자열을 LIST로 변환하여 ['Life', 'is', 'too', 'short'] 출력
a = 'Life is too short'
b1=a.split(" ")
print(b1)

['Life', 'is', 'too', 'short']

In [1]:
 # Q. a 리스트에서 중복 숫자를 제거 후 리스트로 출력
a = [1,1,1,2,2,3,3,3,4,4,5]
a2 = list(set(a))
print(a2)

[1, 2, 3, 4, 5]

In [2]:
# Q. a에서 80과 70을 각각 출력
a = {'A':90, 'B':80, 'C':70}
print(a.get('B'))
print(a.get('C'))

80
70

In [3]:
# Q1 "I eat five apples" -> "eight"
a = "I eat {0} apples".format("eight")
print(a)

I eat eight apples

In [4]:
# Q2 "I ate 10 apples. so I was sick for three days" -> 5, "five"
number = 5
day = "five"
b = "I ate {0} apples. so I was sick for {1} days".format(number, day)
print(b)

I ate 5 apples. so I was sick for five days

In [5]:
# Q. scope = [1,2,3,4,5] 이 주어졌을때 아래와 같이  출력하세요
# 1
# 2
# 3
# perfect

scope = [1,2,3,4,5]

# for i in scope:
#     print(i)
#     if i < 3:
#         continue
#     else:
#         print("perfect")
#         break

for i in scope:
    if i < 4:
        print(i)
else:
    print("perfect")

1
2
3
perfect

In [6]:
# Q. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합 구하기
sum = 0
i = 1
while i < 1001:
    i = i + 1
    if i % 3 == 0:
        sum = sum + i
print(sum)

166833