## 훈련과정 : R·파이썬 기반 빅데이터 분석 전문가 양성과정
- 교과목 평가 : 통계기반 데이터 분석
- 성명 :
- 점수 :

In [2]:
import pandas as pd
df = pd.read_csv('auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

#### Q1. df 데이터프레임에 대하여 아래 사항을 수행하세요. --- (15점)
1. 'mpg','cylinders','displacement','weight','acceleration','model year','origin','name' 컬럼의 통계요약표를 출력
2. mpg 컬럼의 평균값, 중간값, 최대값, 최소값, 표준편차 출력
3. mpg 컬럼과 weight컬럼간 상관계수 출력

In [3]:
print(df.describe())
print()

print(df.mpg.mean())
print()
 
print(df.mpg.median())
print()

print(df.mpg.max())
print()
 
print(df.mpg.min())
print()
 
print(df.mpg.std())
print()

print(df[['mpg','weight']].corr())

mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

23.514572864321607

23.0

46.6

9.0

7.815984312565782

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

#### Q2. df.horsepowr의 통계요약표를 출력하세요.  ----- (10점)

In [4]:
import numpy as np
df['horsepower'].replace('?', np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
df['horsepower'] = df['horsepower'].astype('float')

df.horsepower.describe()

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

#### Q3. 아래 사항을 처리 하세요. --- (5점)
- origin 열의 고유값을 출력하세요.
- origin 열에 대하여 정수형 데이터를 문자형 데이터로 변환한 후 고유값을 출력하세요.

In [5]:
print((df.origin).dtype)

print(df['origin'].unique())

df['origin'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)

print(df['origin'].unique())

int64
[1 3 2]
['USA' 'JAPAN' 'EU']

#### Q4. origin 열의 자료형을 확인하고 범주형으로 변환하여 출력하세요. --- (5점)

In [15]:
print(df['origin'].dtypes)
df['origin'] = df['origin'].astype('category')     
print(df['origin'].dtypes)

object
category

#### Q5. origin 열을 범주형에서 문자열로 변환한 후 자료형을 출력하세요. --- (5점)

In [16]:
df['origin'] = df['origin'].astype('str')     
print(df['origin'].dtypes)

object

#### Q6. df.horsepower를 범주형(카테고리) 데이터 처리한 후 아래와 같이 출력하세요. --- (5점)
   horsepower hp_bin\
0       130.0   보통출력\
1       165.0   보통출력\
2       150.0   보통출력\
3       150.0   보통출력\
4       140.0   보통출력

In [21]:
df = pd.read_csv('./dataset/auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [6]:
import numpy as np
df['horsepower'].replace('?', np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
df['horsepower'] = df['horsepower'].astype('float')
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(bin_dividers)
bin_names = ['저출력', '보통출력', '고출력']
df['hp_bin'] = pd.cut(x=df['horsepower'],
                      bins=bin_dividers,
                      labels=bin_names,
                      include_lowest=True)
print(df[['horsepower', 'hp_bin']].head())

[ 46.         107.33333333 168.66666667 230.        ]
   horsepower hp_bin
0       130.0   보통출력
1       165.0   보통출력
2       150.0   보통출력
3       150.0   보통출력
4       140.0   보통출력

#### Q7. hp_bin 열의 범주형 데이터를 숫자형 범주로 변환하여 앞에서 15개만 출력하세요. --- (5점)

In [9]:
from sklearn import preprocessing    

le = preprocessing.LabelEncoder()
result = le.fit_transform(df.hp_bin.head(15))
print(result)

[1 1 1 1 1 0 0 0 0 0 0 1 1 0 2]

#### Q8. stock-data.csv를 불러와서 아래사항을 수행하세요. --- (10점)
- object 자료형으로 되어있는 Date 컬럼을 datetime64 자료형으로 변환
- new_Date 컬럼을 생성한 후 다시 인덱스로 셋팅하고 기존 Date는 삭제한 후 출력

In [11]:
import pandas as pd

df = pd.read_csv('stock-data.csv')
df['new_Date'] = pd.to_datetime(df['Date'])
df.set_index('new_Date', inplace=True)
df.drop('Date', axis=1, inplace=True)
print(df)

Close  Start   High    Low  Volume
new_Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039
2018-06-25  11150  11400  11450  11000   55519
2018-06-22  11300  11250  11450  10750  134805
2018-06-21  11200  11350  11750  11200  133002
2018-06-20  11550  11200  11600  10900  308596
2018-06-19  11300  11850  11950  11300  180656
2018-06-18  12000  13400  13400  12000  309787
2018-06-15  13400  13600  13600  12900  201376
2018-06-14  13450  13200  13700  13150  347451
2018-06-12  13200  12200  13300  12050  558148
2018-06-11  11950  12000  12250  11950   62293
2018-06-08  11950  11950  12200  11800   59258
2018-06-07  11950  12200  12300  11900   49088
2018-06-05  12150  11800  12250  11800   42485
2018-06-04  11900  11900  12200  11700   25171
2018-06-01  11900  11800  12100  11750   32062

#### Q9. stock-data.csv를 불러와서 아래 사항을 수행한 후 월별 데이터를 작성하여 출력하세요. --- (10점)
- object 자료형으로 되어있는 Date 컬럼을 datetime64 자료형으로 변환하여 new_Date 컬럼을 생성
- dt 속성을 이용하여 period로 변환, 월단위 기간을 의미하는 Date_m 컬럼을 생성하고 인덱스로 지정

In [13]:
import pandas as pd

df = pd.read_csv('stock-data.csv')
df['new_Date'] = pd.to_datetime(df['Date'])

df.drop('Date', axis=1, inplace=True)

# 년, 월, 일로 구분
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
print(df.head())
print('\n')

# 년월일 표기 변경
df['Date_yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
print(df.head())
print('\n')

df.set_index('Date_m', inplace=True)
print(df.head())

Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  10800  10900  11000  10700   63039 2018-06-26  2018      6   26


   Close  Start   High    Low  Volume   new_Date  Year  Month  Day Date_yr  \
0  10100  10850  10900  10000  137977 2018-07-02  2018      7    2    2018
1  10700  10550  10900   9990  170253 2018-06-29  2018      6   29    2018
2  10400  10900  10950  10150  155769 2018-06-28  2018      6   28    2018
3  10900  10800  11050  10500  133548 2018-06-27  2018      6   27    2018
4  10800  10900  11000  10700   63039 2018-06-26  2018      6   26    2018

    Date_m
0  2018-07
1  2018-06
2  2018-06
3  2018-06
4  2018-06


         Close  Start   High    Low  Volume   new_Date  Year  Month  Day  \
Date_m
2018-07  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
2018-06  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2018-06  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
2018-06  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
2018-06  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

        Date_yr
Date_m
2018-07    2018
2018-06    2018
2018-06    2018
2018-06    2018
2018-06    2018

#### Q10. df.mpg를 정규화 수행한 후 수행전과 후의 통계요약표를 출력하세요. --- (10점)

In [15]:
df = pd.read_csv('auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [16]:
print(df.mpg.describe())
print('\n')

df.mpg = df.mpg / abs(df.mpg.max())
print(df.mpg.describe())

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64


count    398.000000
mean       0.504605
std        0.167725
min        0.193133
25%        0.375536
50%        0.493562
75%        0.622318
max        1.000000
Name: mpg, dtype: float64