# 산술연산
- 행/열 인덱스를 기준으로 모든 우너소를 정렬한다.
- 동일한 위치에 있는 원소끼리 일대일 대응시킨다.
- 일대일 대응이 되는 원소끼리 연산을 처리한다.

In [8]:
# 시리즈 vs 시리즈
# 라이브러리 불러오기
import pandas as pd

# 딕셔너리 데이터로 판다스 시리즈 만들기
st1 = pd.Series({'국어':100, '영어':80, '수학':90})
st2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(st1)
print()
print(st2)
print()

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    90
영어    80
dtype: int64

In [16]:
# 두 학새의 과목별 점수로 사칙연산 수행
add = st1 + st2
sub = st1 - st2
mul = st1 * st2
div = round((st1 / st2), 2)

print(add)
print(type(add))
print()
print(sub)
print(type(sub))
print()
print(mul)
print(type(mul))
print()
print(div)
print(type(div))

result = pd.DataFrame([add, sub, mul, div], index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
display(result)

국어    190
수학    170
영어    160
dtype: int64
<class 'pandas.core.series.Series'>

국어    10
수학    10
영어     0
dtype: int64
<class 'pandas.core.series.Series'>

국어    9000
수학    7200
영어    6400
dtype: int64
<class 'pandas.core.series.Series'>

국어    1.11
수학    1.12
영어    1.00
dtype: float64
<class 'pandas.core.series.Series'>

          국어       수학      영어
덧셈    190.00   170.00   160.0
뺄셈     10.00    10.00     0.0
곱셈   9000.00  7200.00  6400.0
나눗셈     1.11     1.12     1.0

In [19]:
# NaN을 포함한 연산 결과는 NaN으로 처리
# 해당 인덱스가 존재하지 않은 경우도 NaN을 반환
import numpy as np

st1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
st2 = pd.Series({'수학':80, '국어':90})

add = st1 + st2
sub = st1 - st2
mul = st1 * st2
div = round((st1 / st2), 2)

result = pd.DataFrame([add, sub, mul, div], index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
display(result)

     국어       수학  영어
덧셈  NaN   170.00 NaN
뺄셈  NaN    10.00 NaN
곱셈  NaN  7200.00 NaN
나눗셈 NaN     1.12 NaN

# Q. 데이터프레임 result에서 NaN 값을 0으로 대체하세요.
- 연산 메소드 사용, NaN 대신 0으로 입력(sr_add = student1.add(student2, fill_value=0))

In [20]:
import numpy as np
st1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
st2 = pd.Series({'수학':80, '국어':90})

# NaN 값이 있는 시리즈 연산
# 객체 사이에 공통 인덱스가 없거나 NaN이 포함된 경우 연산 결과는 NaN으로 반환
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용, fill_value=0)
# st1 국어 점수와 st2 영어 점수는 NaN 대신 0으로 입력
sr_add = st1.add(st2, fill_value=0)
sr_sub = st1.sub(st2, fill_value=0)
sr_mul = st1.mul(st2, fill_value=0)
sr_div = st1.div(st2, fill_value=0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
display(result)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

# CSV 파일 읽고, 저장하기

In [ ]:
with open("read_csv_sample.csv", "w") as f:
    f.write