#### Q. 파이썬 외장함수 random을 이용하여 아래사항들을 출력하세요.
- 0.0<= x <1.0 사이의 float를 랜덤하게 선택
- 10에서 20사이의 정수중에서 난수값 선택
- 10보다 적은 int 선택
- 20과 30사이의 float 선택
- [6,7,8,9,10 ]리스트 내부에 있는 요소를 랜덤하게 선택
- [6,7,8,9,10 ]리스트 내부에 있는 요소중 k개 선택

In [4]:
import random
print(random.random())
print(random.randint(10, 20))
print(random.randrange(10))
print(random.uniform(20, 30))
print(random.choice([6,7,8,9,10]))
print(random.sample([6,7,8,9,10], k=2))

0.5747966981745147
14
1
20.481618370632813
6
[7, 6]

#### Q. 주어진 데이터에서 랜덤으로 하나를 선택하여 꺼낸 다음 그 값을 출력하고 꺼내진 요소를 제외시킨 리스트를 출력하세요.
data = [1,2,3,4,5,6,7,8,9,10]

In [26]:
import random

data = [1,2,3,4,5,6,7,8,9,10]

r = random.choice(data)
print(r)
data.remove(r)
print(data)

9
[1, 2, 3, 4, 5, 6, 7, 8, 10]

#### Q. 넘파이 random을 이용하여 아래사항들을 출력하세요.
- 0부터 10까지 랜덤한 숫자 1개
- 0부터 1사이의 균일분포에서 난수 5개로 구성되는 배열 생성
- 평균 0, 표준편차 1의 가우시안 표준정규분포에서 난수 10개로 구성되는 배열 생성

In [50]:
import numpy as np

print(np.random.randint(10)+1)
print(np.random.rand(5))
print(np.random.randn(10))

1
[0.8360851  0.70065831 0.592981   0.98882918 0.13748952]
[ 0.30347121 -0.84289898  0.3600417   0.2030275  -0.97970399 -1.10517597
  0.85794843  0.93238983 -0.01331528 -1.26782705]

#### Q. 넘파이 random을 이용하여 아래사항들을 출력하세요.
- [6,7,8,9,10] 리스트의 데이터의 순서 바꾸기

In [60]:
import numpy as np

list = [6,7,8,9,10]

np.random.shuffle(list)
print(list)

[10, 7, 9, 8, 6]

#### Q. 넘파이 random을 이용하여 아래사항들을 출력하세요.
- 10보다 적은 정수에서 랜덤으로 중복되지 않게 5개를 선택 배열을 생성하세요.
- c1 = [6,7,8,9,10] 배열에서 랜덤으로 중복 선택이 가능하게 5개를 선택, 배열을 생성하세요.

#### Q. 넘파이 random을 이용하여 2.0보다 크거나 3.0보다 작은 5개의 수를 출력하세요.

In [5]:
import numpy as np

np.random.uniform(2.0, 3.0, 5)

array([2.28881165, 2.76084659, 2.80996922, 2.58393714, 2.11622294])

#### Q. 넘파이 random을 이용하여 0.0보다 크거나 1.0보다 작은 (3,3) 2차원 배열을 2가지 방식으로 출력하세요.

In [8]:
import numpy as np

mt1 = np.random.sample((3,3))
mt2 = np.random.uniform(0.0, 1.0, (3,3))
print(mt1)
print(mt2)

[[0.14919775 0.26000902 0.9118236 ]
 [0.83819718 0.59020375 0.47683026]
 [0.72377954 0.34055034 0.14786302]]
[[0.14112719 0.82432155 0.49704246]
 [0.3558821  0.28559461 0.49579546]
 [0.27001442 0.13813803 0.79030061]]

#### Q. 앞(head) 또는 뒤(tail) (n=1) 가 나올 확률이 각각 50%(p=0.5)인 동전 던지기를 20번(size=20) 수행한 결과를 배열로 출력하세요.

In [62]:
import numpy as np

np.random.binomial(n=1, p=0.5, size=20)

array([1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1])

#### Q. (2,3,4) 3차원 배열 형태로 정규분포(np.random.normal)로 부터 무작위 샘플을 생성

In [69]:
import numpy as np

print(np.random.normal(size=(2,3,4)))

[[[ 0.29619211 -0.86996014  0.18820347 -0.0550979 ]
  [-1.1489221   0.81244813  1.26677602 -0.29500329]
  [-0.45915719 -0.95436147  1.39535308  1.18203439]]

 [[-0.14979668  1.45325686 -0.17848111  0.94317521]
  [ 0.53396561 -0.93256698 -1.63472646 -1.8427666 ]
  [-0.95258777  0.41112085 -1.29507903  1.27833096]]]

#### Q. [4 7 7 1 9]에서 중복되지 않는 원소 배열과 각 원소의 중복 개수 배열을 출력하세요.

In [71]:
import numpy as np

a = np.array([4,7,7,1,9])
index, count = np.unique(a, return_counts=True)

print(index)
print(count)

[1 4 7 9]
[1 1 2 1]

#### Q. [1, 1, 2, 2, 2, 3]에서 0 ~ 5에 해당하는 정수의 개수 배열을 출력하세요.

In [74]:
import numpy as np

print(np.bincount([1,1,2,2,2,3], minlength = 5))

[0 2 3 1 0]

#### Q(응용) 'ID', 'Prod', 'Price' 3개의 column과 10개의 row으로 구성되는 데이터셋을 아래를 참조하여 생성하세요.
- ID는 1 ~ 10으로 적용
- Prod는 상품코드로서 np.random을 이용하여 10보다 적은 정수를 랜덤하게 선택
- Price는 가격으로서 np.random을 이용하여 1000 보다 적은 양의 소수를 랜덤하게 선택
- 3개의 컬럼을 결합하는 방법은 concat() 함수를 사용

In [10]:
import numpy as np
import pandas as pd

a = np.arange(10)+1
sr_a = pd.Series(a, name = "id")
b = np.random.choice(["남", "여"], size = 10)
sr_b = pd.Series(b, name = "성별")
c = np.random.randint(20, 60, size = 10)
sr_c = pd.Series(c, name = "연령")
d = np.random.choice(["서울", "경기", "전북", "전남", "제주", "경북", "경남", "충북", "충남", "강원"], size = 10)
sr_d = pd.Series(d, name = "지역")
e = np.random.choice(["가전", "가구", "주방", "식품", "의류"], size = 10)
sr_e = pd.Series(e, name = "상품")
f = np.random.randint(1, 100, size = 10)*1000
sr_f = pd.Series(f, name = "가격")

df = pd.concat([sr_a, sr_b, sr_c, sr_d, sr_e, sr_f], axis = 1)

display(df)

   id 성별  연령  지역  상품     가격
0   1  여  26  충북  식품  51000
1   2  여  49  충남  가전  76000
2   3  남  31  충남  가구  59000
3   4  여  20  충북  식품  11000
4   5  남  33  제주  가전  25000
5   6  여  30  충남  주방  95000
6   7  여  22  전남  식품  38000
7   8  남  53  강원  식품  22000
8   9  여  44  충남  가구  46000
9  10  여  28  충남  주방  91000