## 파이썬 소개
- 반 로썸이 개발한 인터프리터 언어
- 기업의 실무를 위해서 많이 사용되는 언어. 예로는 구글에서 만든 소프트웨어의 50% 이상이 파이썬으로 작성

## 파이썬 특징
- 사람이 생각하는 방식을 그대로 표현 ex) if 4 in [1,2,3,4]: print('4가 있습니다')
- 문법자체가 아주 쉽고 간결하며 사람의 사고 체계와 매우 비슷함
- 프로그래머가 만들고자 하는 프로그램의 대부분을 파이썬으로 만들 수 있다.
- 100가지 방법으로 하나의 일을 처리할 수 있다면 파이썬은 가장 좋은 방법 1가지만 사용하는 것을 선호
- 다른 것을 신경 쓸 필요 없이 내가 하고자 하는 부분에만 집중할 수 있게 해준다.

## 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍을 위한 도구들이 잘 갖추어져 있어 GUI 프로그램 제작이 쉽다.
- C 나 C++로 만든 프로그램을 파이썬에서 사용할 수 있으며 파이썬으로 만든 프로그램 역시 C 나 C++에서 사용할 수 있다.
- Numpy라는 수치 연산 모듈을 제공한다. 이 모듈은 C로 작성했기 때문에 파이썬에서도 수치 연산을 빠르게 할 수 있다.
- 오라클, MySQL, PostgreSQL 등의 데이터베이스에 접근하기 위한 도구를 제공
- 판다스 모듈을 사용하면 데이터 분석을 더 쉽고 효과적으로 할 수 있다.

## 파이썬으로 할 수 없는 일
- 복잡한 시스템 연산은 적합하지 않음.
- 안드로이드 아이폰 앱을 개발하는 것은 어려움.

In [3]:
# 파이썬 자료형
# 리스트는 []로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]  #숫자
list2 = ["a", "b", "c"]  # 문자
list3 = [1, "a", 2, "b", 3, "c", [1,2,3], ["a", "b", "c"]]
print(list1)
print(list2)
print(list3)
list1[0] = 6
print(list1)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 2, 'b', 3, 'c', [1, 2, 3], ['a', 'b', 'c']]
[6, 2, 3, 4, 5]

In [5]:
def myfunc():
    print("안녕하세요")

list4 = [1, 2, myfunc]
print(list4)
list4[2]()

[1, 2, <function myfunc at 0x0000022EBB2B2EE8>]
안녕하세요

In [9]:
# 리스트 수정, 변경, 삭제
a = [1, 2, 3]
a[2] = 4
a[1:2] = ["1","b", "c"]          
print(a)
del a[1:4]
print(a)

[1, '1', 'b', 'c', 4]
[1, 4]

In [12]:
a = [1,2,3,4,5,6,7,8,9]  
#[15, 5, 6, 7] 출력
del a[:3]
a[0] = 15
del a[4:6]
print(a)

[15, 5, 6, 7]

In [14]:
# 정렬(sort)
b = [2, 3, 4, 1]
b.sort()
print(b)
c = ["a", "c", "b"]
c.sort()
print(c)

[1, 2, 3, 4]
['a', 'b', 'c']

In [16]:
d = ["a", "c", "b"]
d.reverse()   # 순서 역순서로 정렬
print(d) 
sorted(d, reverse=True)  #  abc역순으로 정렬

['b', 'c', 'a']

['c', 'b', 'a']

In [1]:
# 위치 반환
e = [1, 2, 3]
print(e.index(3))  # 3의 인덱스 번호를 반환
print(e.index(1))  # 1의 인덱스 번호를 반환

2
0

In [3]:
f = [1,2,3]
print(f.pop())  # 리스트의 맨 마지막 요소를 돌려주고 그 요소를 삭제
print(f)

3
[1, 2]

In [4]:
g = [1,2,3,1]  # 리스트내에 x가 몇 개인지 조사하여 그 갯수를 반환
print(g.count(1))  # 리스트내에 1이 몇 개인지

2

In [5]:
h = [1,2,3]  # 리스트 확장
h.extend([4,5])
print(h)

[1, 2, 3, 4, 5]

In [7]:
a = [1,2,3]  # 추가
a.append(4)
print(a)
a.append([5,6])  # 리스트 추가
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [10]:
# 튜플
# 리스트와 비슷한 성질을 가지고 있는 자료형이지만 요소값을 변경할 수 없음.
# 프로그램이 실행되는 동안 그 값이 변하지 않아야 되는 경우 튜플 사용

t1 = (1,2,3,4,5)
t2 = ('a', 'b','c')
t3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])
def myfunc():
    print('안녕하세요')
    
t4 = (21, 2, myfunc)
# t1[0] = 6   -> 튜플은 변경이 불가(에러발생)
# print(t1)
print(t4)
t4[2]()

(21, 2, <function myfunc at 0x000002921CD0C558>)
안녕하세요

In [11]:
t1 = (1,)  # 1개의 요소만 가질때는 요소 뒤에 콤마를 붙여야 함
print(t1)

(1,)

In [12]:
t1 = (1,2,3,4,5)
t2 = ('a', 'b','c')
t3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])
print(t1)
print(t2)
print(t3)

(1, 2, 3, 4, 5)
('a', 'b', 'c')
(1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c'])

In [13]:
a = (1,2,3)
b = ('a','b','c')
c = a + b  # 튜플은 합칠때 + 연산 사용 가능
print(c)
print(c*3)  # 곱하기 연산도 사용 가능함 (3번 출력)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

In [17]:
# 사전
# 사전은 키와 값을 하나의 요소로 하는 순서가 없는 집합
# 시퀀스 자료형이 아니며 인덱싱으로 값을 접근할 수 없음

dic1 = {'a':1, 'b':2, 'c':3}
print(dic1['a'])
print(dic1['c'])
print(dic1)
print(len(dic1))

1
3
{'a': 1, 'b': 2, 'c': 3}
3

In [22]:
# 딕셔너리 관련 함수
a = {'name':'pey', 'phone':'01011112222', 'birth':'1108'}
print(a.keys())
print(a.values())
print(a.items())
print(a.get('name'))
print(a.get('nokey'))

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '01011112222', '1108'])
dict_items([('name', 'pey'), ('phone', '01011112222'), ('birth', '1108')])
pey
None

In [24]:
# 해당 key가 딕셔너리 안에 있는지 조사(in)
a = {'name':'pey', 'phone':'01011112222', 'birth':'1108'}
print('name' in a)
print('email' in a)

True
False

In [28]:
# 딕셔너리 안에 찾으려고 하는 key값이 없는 경우 
# 미리 정해 준 디폴트 값을 가져오게 하고 싶을때는 get(x, '디폴트 값')을 사용

a = {'name':'pey', 'phone':'01011112222', 'birth':'1108'}
print(a.get('name', 'bar'))
print(a.clear())
print(a.get('foo', 'bar'))

pey
None
bar

In [32]:
# set
# set 자료형은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없음
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)  # 교집합
print(s1.intersection(s2))  # 교집합
print(s1 | s2)  # 합집합
print(s1.union(s2))  # 합집합

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
# 리스트 형태로 출력하기
s3 = list(s1 & s2)  
print(s3)
s4 = list(s1 | s2)
print(s4)

[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 - s2)  # 차집합
print(list(s2 - s1))

{1, 2, 3}
[8, 9, 7]

In [41]:
s1.add(7)  # 값 하나만 추가할때
print(s1)
s1.update([9,10])  # 값 여러개를 추가할때
print(s1)
s1.remove(10)  # 값 제거
print(s1)

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 9}

In [47]:
# 이스케이프 문자
# 키보드로 입력하기 어려운 기호를 나타내기 위해 역슬래쉬 '\'로
# 시작하는 문자
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 쉽습니다.')  # \n 넘겨쓰기
print('Name:John \tSex:Male \tAge:22')   # \t 들여쓰기
print('이 문장은 화면폭에 비해 너무 길어 다음 줄로 넘깁니다. \
그러나 문장을 한줄에서 보고 싶습니다.')  # \ 한줄로 쓰기

나는 파이썬을 사랑합니다.
파이썬은 자바보다 쉽습니다.
Name:John 	Sex:Male 	Age:22
이 문장은 화면폭에 비해 너무 길어 다음 줄로 넘깁니다. 그러나 문장을 한줄에서 보고 싶습니다.

In [48]:
# 들여쓰기
listdata = ['a','b','c']
if 'a' in listdata:
    print('a가 listdata에 있습니다.')
    print(listdata)
else:
    print('a가 listdata에 존재하지 않습니다')

a가 listdata에 있습니다.
['a', 'b', 'c']

In [76]:
# Q. 김철수씨의 주민번호는 881230-1078523
# 주민번호를 연월일 부분과 그 뒤의 숫자 부분으로 나누어 출력
a1 = [881230, 1078523]
print(a1[0])
print(a1[1])

881230
1078523

In [57]:
# Q. a = [1,3,5,4,2] 리스트를 [5,4,3,2,1] 로 변경해서 출력
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [74]:
# Q. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 출력
s1 = ['Life', 'is', 'too', 'short']
print(s1[0] + " " + s1[1] + " "  + s1[2] + " "  + s1[3])

Life is too short

In [68]:
# Q. 문자열을 LIST로 변환하여 ['Life', 'is', 'too', 'short'] 출력
a = 'Life is too short'
b1=a.split(" ")
print(b1)

['Life', 'is', 'too', 'short']

In [69]:
# Q. a 리스트에서 중복 숫자를 제거 후 리스트로 출력
a = [1,1,1,2,2,3,3,3,4,4,5]
a2 = list(set(a))
print(a2)

[1, 2, 3, 4, 5]

In [73]:
# Q. a에서 80과 70을 각각 출력
a = {'A':90, 'B':80, 'C':70}
print(a.get('B'))
print(a.get('C'))

80
70

In [80]:
# 문자열 포맷팅
# 숫자 대입
a = "I eat %d apples." % 3  # 숫자는 %d
print(a)
b = "I eat %s apples." % 'five'  # 문자는 %s
print(b)

number = 5
c = "I eat %d apples." % number
print(c)

# 두개 이상의 값 넣기
number = 10
day = 'three'
d = 'I eat %d apples. so I was sick %s days' % (number, day)
print(d)

I eat 3 apples.
I eat five apples.
I eat 5 apples.
I eat 10 apples. so I was sick three days

In [82]:
# %s 포맷 코드는 어떤 형태의 값이든 변환해 넣을 수 있음
# %s 는 자동으로 % 뒤에 있는 값을 문자열로 변경함
e = "I have %s apples." % 3
print(e)
f = "rate is %s" % 3.234
print(f)

I have 3 apples.
rate is 3.234

In [83]:
# %를 나타내려면 반드시 %%로 써야 함
g = "Error is %d%%." % 98
print(g)

Error is 98%.

In [86]:
# 정렬과 공백
a = "%10s" % 'hi'  # 전체 길이가 10개인 문자열 공간에서 오른쪽 정렬 (오른쪽은 +)
print(a)
b = "%-10s dddd" % "hi"   # 전체 길이가 10개인 문자열 공간에서 왼쪽 정렬 (왼쪽은 -)
print(b)

        hi
hi         dddd

In [89]:
# 소수점 표현하기
c = "%0.4f" % 3.456789
print(c)
d = "%10.4f" % 3.4567892
print(d)
e = "%10.2f" % 3.4567892
print(e)

3.4568
    3.4568
      3.46

In [95]:
# 문자열 관련 함수
a = "hobby"
print(a.count('b'))  # 'b'라는 문자 갯수 세기
a = "Python is best choice"
print(a.find('b'))  # 'b'라는 문자의 자리를 찾음
print(a.find('k'))   # 'k'가 없기 때문에 -1로 반환됨
print(a.index('n'))  # 'n'이라는 문자의 인덱스 반환

2
10
-1
5

In [96]:
# 문자열 삽입(join)
a = ","
a = a.join("abcd")
print(a)

a,b,c,d

In [98]:
# 소문자를 대문자로 변경
a = "hi"
a = a.upper()
print(a)
# 대문자를 소문자로 변경
b = "HI"
b = b.lower()
print(b)

HI
hi

In [103]:
# 왼쪽 공백 지우기 (lstrip)
a = "    hi"
print(a)
b = a.lstrip()
print(b)
# 오른쪽 공백 지우기 (rstrip)
a = "hi         "
print(a)
b = a.rstrip()
print(b)
# 양쪽 공백 지우기
e = "     hi     "
print(e)
f = e.strip()
print(f)

    hi
hi
hi
hi
     hi
hi

In [106]:
# 문자열 바꾸기
a = "Life is too short"
print(a.replace("Life", "My leg"))
# 문자열 나누기
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(":"))

My leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [113]:
# format 함수(고급 포맷팅)
a = "I eat {0} apples".format(3)
print(a)

f = "{0:<10}".format("hello")   # 왼쪽으로 정렬하고 자리수는 10
print(f)
i = "{0:=^20}".format("hi")   # 공백을 "="로 채우기
print(i)
k = "{0:0.4f}".format(3.567892)   # 소수점 네자리까지 표현
print(k)

I eat 3 apples
hello
=========hi=========
3.5679

In [116]:
# Q1 "I eat five apples" -> "eight"
a = "I eat {0} apples".format("eight")
print(a)

I eat eight apples

In [118]:
# Q2 "I ate 10 apples. so I was sick for three days" -> 5, "five"
number = 5
day = "five"
b = "I ate {0} apples. so I was sick for {1} days".format(number, day)
print(b)

I ate 5 apples. so I was sick for five days

In [119]:
m = "{{and}}".format()
print(m)

{and}

In [122]:
a = "{0:>10}".format("hello")  # 오른쪽 정렬  자리수는 10
b = "{0:<10}".format("hello")  # 왼쪽 정렬  자리수는 10
c = "{0:^10}".format("hello")  # 가운데 정렬  자리수응 10
print(a)
print(b)
print(c)

     hello
hello
  hello

In [132]:
# y = 3.451235, 자리수 10
# 3.4512
#     3.4512
y = 3.451235
print("{0:<10.4f}".format(y))
print("{0:>10.4f}".format(y))

3.4512
    3.4512

In [135]:
# 리스트 자료형 복사
# id함수는 변수가 가리키고 있는 객체의 주소 값을 돌려주는 파이썬 내장 함수
a = [1,2,3]
b = a
a[1] = 4
print(a)
print(b)
print(id(a))
print(id(b))

[1, 4, 3]
[1, 4, 3]
2826576931400
2826576931400

In [137]:
a = [1,2,3]
b = a[:]
a[1] = 4
print(a)
print(b)
print(id(a))
print(id(b))

[1, 4, 3]
[1, 2, 3]
2826584040776
2826575895048

In [138]:
# 제어문
# if - else
x = 1
y = 2
if x >= y:
    print("x가 y보다 크거나 같습니다.")
else:
    print("x가 y보다 작습니다.")

x가 y보다 작습니다.

In [139]:
# 만약 3천원 이상의 돈을 가지고 있으면 택시를 타고 그렇지 않으면 걸어라
money = 2000
if money >= 3000:
    print("택시를 타고 가")
else:
    print("걸어가시오")

걸어가시오

In [143]:
# 만약 돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어가라
money = 2000
card = 1
if money >= 3000 or card == 1:
    print("택시 타고 ㄱ")
else:
    print("걸어가")

택시 타고 ㄱ

In [144]:
# if ~ elif
x = 1
y = 2
if x > y:
    print("x가 y보다 큽니다")
elif x < y:
    print("x가 y보다 작습니다")
else:
    print("x가 y와 같습니다")

x가 y보다 작습니다

In [146]:
# for문
scope = [1,2,3,4,5]
for x in scope:
    print(x, end=" ")

1 2 3 4 5

In [149]:
# for~continte~break
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x <3:
        continue
    else : 
        break

1
2
3

In [150]:
# range(1,11) 끝 숫자는 포함되지 않음
sum = 0
for i in range(1,11):
    sum += i   # (sum = sum + i), sum -= i, sum *= i, sum/= i
print(sum)

55

In [152]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다." % (number+1))

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [156]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"X",j,"=",i*j,end=" ")
    print(" ")

2 X 1 = 2 2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18
3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27
4 X 1 = 4 4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36
5 X 1 = 5 5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45
6 X 1 = 6 6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54
7 X 1 = 7 7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63
8 X 1 = 8 8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72
9 X 1 = 9 9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81

In [ ]:
# Q. scope = [1,2,3,4,5] 이 주어졌을때 아래와 같이  출력하세요
# 1
# 2
# 3
# perfect

scope = [1,2,3,4,5]

# for i in scope:
#     print(i)
#     if i < 3:
#         continue
#     else:
#         print("perfect")
#         break

for i in scope:
    if i < 4:
        print(i)
else:
    print("perfect")

In [ ]:
# 정수 1 부터 n까지 더할 때 그 합이 10만 보다 커지게 되는 n과 합을 구하시오
x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 100000:
        print(x)
        print(sum)
        break
        
    x = x + 1

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합 구하기
sum = 0
i = 1
while i < 1001:
    i = i + 1
    if i % 3 == 0:
        sum = sum + i
print(sum)